@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --primary-purple: hsl(259, 100%, 65%);
  --primary-lightred: hsl(0, 100%, 67%);    
  --off-black: hsl(0, 0%, 8%);    
  --light-gray: hsl(0, 0%, 86%);   
  --light-red: hsl(0, 100%, 67%); 
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 94%);
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
